.container{
    border: 2px solid black;
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto auto ; 
    justify-content: space-evenly;
  
   row-gap: 10px;
     
  border-radius: 1O;


}
IMG{
       box-shadow: 10px 20px 10px gray;
 border-radius: 20px;
  transition: transform 0.3s ease;
  
 border: 3px solid #ccc; 
 width: 20vw;
  margin-top: 50px;
  transition: transform 1s;
 
}
img:hover {
  transform: ROTATE(45DEG);
  
}
.IMG-SEC{
  overflow: auto;
  background-image: url(./football.jpg);
 
  
}
