.container{
    display: flex;
    justify-content: space-evenly;
    row-gap: 30px;
    height: 70vh;

}
*{
    margin: 0;
    padding: 0;
}
marquee{
    height:10vh ;

}
.footer{
    margin-bottom: 0;
}